@import "_vz_theme";
@import "_media_queries";
@import "_colors";

%main-content {
    font-family: vzTxtRoman, "Open Sans", sans-serif;
    font-size:18px;
    color: $vz_blk;  
}
%main-title {
    font-family: vzBigMedium, "Open Sans", sans-serif;
    font-size:18px;
    color: $vz_blk;  
}
        .error-txt {
            color: $vz_red;
            padding-right: 20px;
            padding-left: 35px;
            font-size: 15px;
            position: relative;
            right: 10px;

            @include respond(small) {
                padding-right: 70px;
                font-size: 13px;
                padding-top: 0px;
            }
        }
%center {
                        display: flex;
                        align-items: center;
                        justify-content: center;         
}