@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;

  src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(fonts/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(fonts/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
	font-family: vzFont;
	src: url(fonts/NeueHaasGroteskText.woff2);
/*  	src: url(../fonts/VZFonts/NeueHaasGroteskText.eot) format('embedded-opentype'); */
}
@font-face {
  font-family: 'NeueHass55Bold';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
       	url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass65Bold';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
       	url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass75Bold';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
       	url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass55Roman';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
       	url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass65Roman';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
       	url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass75Roman';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
       	url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass55Medium';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
       	url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass65Medium';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
       	url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass75Medium';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
       	url(fonts/NeueHaasGroteskDisplayBold.woff2);
}