
@font-face {
  font-family: 'NeueHass55Bold';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
       	url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass65Bold';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
       	url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass75Bold';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
       	url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass55Roman';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
       	url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass65Roman';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
       	url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass75Roman';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
       	url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass55Medium';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
       	url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass65Medium';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
       	url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass75Medium';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
       	url(fonts/NeueHaasGroteskDisplayBold.woff2);
}