@import "_media_queries";
@import "_colors";

%commonProperties{
	color: $vz_blk;
	font-weight: bold;
	margin-top: 15px;
}
%Label{
    font-size: 12pt;
}
%mediumLabel{
    font-size: 14pt;
}
%headingLabel{
    font-size: 20px;
}

sup {
    color: #ef1d1d;
}

.app_title{
	@extend %headingLabel;
	@extend %commonProperties;
	font-family:NeueHass75Bold;
	@include respond(small) {
		font-size: 14px;
	}
}

label{
	font-weight: bold;
}

span{
    display: block;
}