@import "_vz_theme";
@import "_media_queries";

.pagination {
    padding: 0;
    margin: 0;
    text-align: right;
    a {
        text-align: center;
        color: $vz_blk;
        text-decoration: none;
        height: 30px;
        min-width: 30px;
        margin: auto;
        vertical-align: middle;
        display: table-cell;
        font-family: vzTxtRoman;
        &:hover {
            font-weight: bold;
        }
    }
    .active a {
        text-align: center;
        color: $vz_wht;
        background: $vz_red;
        font-weight: 700;

        border-radius: 15px;
    }
    li {
        display: inline-block;
        margin: 3px 0px;
    }
    .next a {
        &::before {
            content: " Next  ";
            color: $vz_blk;
        }
        color: $vz_red;
        font-weight: bold;
        padding: 5px;
        @include respond(small) { padding: 0px 0px 0px 4px}
    }
    .previous a {
        &::after {
            content: "  Previous ";
            color: $vz_blk;
        }
        color: $vz_red;
        font-weight: bold;
        padding: 5px;
        @include respond(small) { padding: 0px 4px 0px 0px}
    }
    .disabled {
      opacity: 0.5;
    }
}     