@import "_vz_theme";
@import "_media_queries";
// @import "_fonts";

/*this is properties import example*/

							select {
                font-family: vzTxtMedium, "Open Sans", sans-serif;
								border: solid 1px $vz-border;
								appearance:none;
								-moz-appearance:none;
								-webkit-appearance:none;

								background: url('../../assets/svg/arrow.svg')  no-repeat scroll right center transparent;
								background-size: 25px 25px;
								background-color: $vz_offwhite;				
                color: $place-holder;
							}
							select::-ms-expand { display: none; }