@import "_vz_theme";
@import "_media_queries";
$col-width: 10%;
    .tableWrap {
        border: 1px solid rgb(212, 212, 212);
    	background-color: $vz_wht;
        color: $vz_grey_dark;
        clear: both;
		max-height: 60vh;
        overflow-y: auto;
        width: 95%;
        margin: auto;
        table-layout: fixed;
        table {
            border: 1px solid $vz_grey_lighter;
            width: 100%;
            margin:0;
            padding:0;
            border-collapse: collapse;
            border-spacing: 0;
            min-width: 800px;
            table-layout:fixed;
            @include respond(medium) {
                min-width: 0px;
            }
            @include respond(medium) {
                min-width: 0px;
            }
        }
        th {
            background-color: $vz_wht;
            color: $vz_blk;
            text-align: center;
            border-right: 1px solid $vz_even_row_bg;
            border-left: 1px solid $vz_even_row_bg;
            font-family: NeueHass75Bold;
            cursor: pointer;
            font-size: 14px;
            letter-spacing: $theme_title_small_letter_spacing;
            padding-top: 5px;
            padding-right: 5px;
            height: 40px;
            line-height: 2s;
            white-space: nowrap; 
            @include respond(medium) {
                font-size: 10pt;
                padding: 0 0px;
                height: 40px;
                white-space: normal;
            }                       
        }
        tr {
            &:nth-of-type(even) {
                background-color: $vz_even_row_bg;
            }
            border: 1px solid $vz_wht;
            padding: 5px;
            line-height: 50px;
            font-size:14px;
            &:hover{
                background-color: $vz_blue;
            } 
        }
            .cell.selected {
                background-color: $vz_selected_row_bg;
                color: $vz_grey_dark;
                white-space: nowrap;
                @include respond(medium) {
                    white-space: normal;
                }
            }            
        td {
            font-family: NeueHass55Roman;
            text-align: center;
            border-left: 1px solid $vz_wht;
            overflow:hidden;
            @include respond(medium) {
                font-size: 10pt;
                padding: 3px;
            }
            .flat-btn-popup {
                position: absolute;
                @include respond(small) {
                    right: 19%;
                }
            }
            .medium-icon-outer {
                padding: 0.3em;
            }
        }
        th:nth-of-type(n) {
            border-bottom: 2px solid red;
            width: $col-width;
            white-space: pre-line;
        }
        td:nth-of-type(n){
            width: $col-width;
            white-space: pre-line;
        }
        th:not(:nth-last-child(-n+2)):not(:nth-of-type(-n+2)) {
            @include respond(small) {
                display: none;
            }
        }
        td:not(:nth-last-child(-n+2)):not(:nth-of-type(-n+2)) {
            @include respond(small) {
                display: none;
            }
        }
        th:nth-of-type(-n+2) {
            @include respond(small) {
                width: 25%;
            }
        }
        th:nth-last-child(-n+2) {
            @include respond(small) {
                width: 20%;
            }
        }
        td:nth-of-type(-n+2) {
            @include respond(small) {
                width: 25%;
            }
        }
        td:nth-last-child(-n+2) {
            @include respond(small) {
                width: 20%;
            }
        }
        th:nth-last-child(-n+1) {
            cursor: default;
            @include respond(small) { width: 35%; }
        }
        td:nth-last-child(-n+1) {
            @include respond(small) { width: 35%; }
        }
    }