@font-face {
  font-family: 'NeueHass';
  src: url(fonts/NeueHaasGroteskDisplay.woff),
        url(fonts/NeueHaasGroteskDisplay.woff2);
}

@font-face {
  font-family: 'NeueHassBold';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
        url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHassMedium';
  src: url(fonts/NeueHaasGroteskDisplayMedium.woff),
        url(fonts/NeueHaasGroteskDisplayMedium.woff2);
}

@font-face {
  font-family: 'NeueHass55Bold';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
        url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass65Bold';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
        url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass75Bold';
  src: url(fonts/NHaasGroteskTXW02-75Bd.woff),
        url(fonts/NHaasGroteskTXW02-75Bd.woff2);
}

@font-face {
  font-family: 'NeueHass55Roman';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
        url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass65Roman';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
        url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass75Roman';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
        url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass55Medium';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
        url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

@font-face {
  font-family: 'NeueHass65Medium';
  src: url(fonts/NHaasGroteskDSW02-65Md.woff),
        url(fonts/NHaasGroteskDSW02-65Md.woff2);
}

@font-face {
  font-family: 'NeueHass75Medium';
  src: url(fonts/NeueHaasGroteskDisplayBold.woff),
        url(fonts/NeueHaasGroteskDisplayBold.woff2);
}

* {
    box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: NeueHass;
  letter-spacing: 0.5px;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 87.5%;
  font-family: NeueHass;
  line-height: normal;
  color: #333;
  text-size-adjust: 100%;
  letter-spacing: 0.5px;
}

button {
  outline: none;
  border: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
  background: none;
  user-select: none;
  font-family: NeueHass;
  letter-spacing: 0.5px;
}

label{
  font-family: NeueHass;
  letter-spacing: 0.5px;
}

div {
  font-family: NeueHass;
  user-select: none;
  letter-spacing: 0.5px;
}

input {
  border: none;
  margin: 0;
  outline: none;
  font-family: NeueHass;
  letter-spacing: 0.5px;
}

input::-ms-clear {
  display: none;
  font-family: NeueHass;
  letter-spacing: 0.5px;
}

table {
  font-family: NeueHass;
  border-collapse: collapse;
  border-spacing: 0;
  letter-spacing: 0.5px;
}

td,
th {
  font-family: NeueHass;
  padding: 0;
  letter-spacing: 0.5px;
}

.Wrap {
  font-family: NeueHass;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.5px;
}
