@import "../../styles/_common";
.content {
    height: 80vh;
    width: 90vw;
    margin: auto;
    .top-picks-placements-title {
        text-align: center;
        margin-bottom: .5em;
        font-size: 44px;
    }

    .chartContainer {
            @extend %flex;
            flex-direction: row;
            width: 100%;
    
                        .icon {
                            width: 100%;
                            height:100%;
                        }
            .item {
                flex: 1;
                margin: 1em;
                border: 1px solid grey;   
                height: 300px;
                position: relative;
                .bottom {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;       
                    width: 100%;
                    height: 30%;
                    background-color: rgba(0,0,0,.5);
                    @extend %center;  
                    .left {
                        flex: 3;
                        height: 100%;
                        
                        @extend %center;  
                        .icon {
                            width: 80%;
                            height:80%;
                        }                    
                    }       
                    .right {
                        flex: 7;
                        @extend %center; 
                        flex-direction: column;
                    }                
                }
            }
    }
}