/*BASE*/
$vz_red: #cd040b;
$vz_darkred_alt: rgba(195, 22, 30, 0.95);
$vz_blk: #000;
$vz_wht: #fff;
$vz_hover_red: #A80309;


/*Sucess Green*/
$vz_green_success: #82CEAC;

/*GREYS*/
$vz_grey_entry:		rgb(75, 101, 128);
$vz_grey_dark:		#333; /*DEFAULT TXT COLOR*/
$vz_grey:			#4b4b4b;
$vz_grey_medium:	#666;
$vz_grey_light:		#959595;
$vz_grey_lighter:	#F5F5F5;
$vz_offwhite:		#eee;
$vz_grayblue:		#edf3f6;

/*SECONDARIES*/
$vz_teal_dark:		#1f513b;
$vz_teal_medium:	#43ad7d;
$vz_teal:			#82ceac;
$vz_sky:			#ABE0F9;
$vz_gold:			#f8d362;
$vz_salmon:			#f9b295;

/*FADED SECONDARIES*/
$vz_green:			#e9f8e9;
$vz_blue:			#e8f6fe;
$vz_yellow:			#feffe4;
$vz_orange:			#fef0e8;

/*LINKS*/
$vz_link:			#0067C8;
$vz_link_active:	#00488B;

/*SHADOW*/
$vz_shadow_right:	1px 1px 9px -5px rgba(0,0,0,.75);
$vz_shadow_left:	0px 0px 15px -4px #666;
/*table*/
$vz_th_bg:             rgb(75, 75, 75);
$vz_even_row_bg:       #eee;
$vz_selected_row_bg:   #c9dde1;
$vz_pagination_color:  rgb(51, 51, 51);
$vz_header_bg:         #eee;
$vz_header_color:      #000;

$primary-red: #CD040B;
$primary-black: #000000;
$primary-white: #FFFFFF;

$primary-teal: #82CEAC;
$primary-sky: #ABE0F9;
$primary-gold: #FBD362;
$primary-salmon: #F9B295;

$bg-gray1: #E4E5E3;
$bg-gray2: #F6F6F6;
$bg-white: #FFFFFF;

$function-gray1: #333333;
$function-gray2: #4B4B4B;
$function-gray3: #959595;
$function-gray4: #CCCCCC;

$green: #E9F8E9;
$blue: #E8F6FE;
$yellow: #FEFFE4;
$orange: #FEF0E8;

$btn-hover: #A80309;
$btn-press: #990308;
$txt-active: #0066BB;
$txt-hover: #00478E;

$place-holder: #aaa;
$vz-border: #d4d4d4;


/*modal colors*/

$vz_warning: #fbe8a6;
$vz_error: #faccd0;
$vz_info: #bed8f1;
$vz_success: #d5ead3;