@import "_vz_theme";
@import "_media_queries";
@import "_colors";

%flex {
	display: -webkit-flex;
	display: flex;    
    justify-content: center;
    align-content: center;
    flex-direction: initial;
}