@import "_colors";

$fontface: $fontface;

$theme_header_background_color: $vz_red;
$theme_header_color: $vz_wht;

$theme_title_small_letter_spacing: 1px;
$theme_title_medium_letter_spacing: 3px;
$theme_title_large_letter_spacing: 5px;

$theme_card_opacity: 1.0;
$theme_card_header_color: $vz_red;
$theme_card_body_color: $vz_grey_dark;
$theme_card_background_color: $vz_grayblue;

$theme_card_button_color: $vz_red;
$theme_card_button_background_color: $vz_wht;

$theme_list_header_background_color: $vz_blue;
$theme_list_header_border_bottom_color: $vz_red;
$theme_list_header_border: 2px solid $vz_blue;
$theme_list_footer_border: 5px solid $vz_blue;
$theme_list_selected_background_color: $vz_teal;
$theme_list_selected_color: $vz_blk;
$theme_list_background_color: $vz_grey_dark;

$theme_product_card_background_color: $vz_salmon;
$theme_product_card_border_color: $vz_wht;
$theme_product_card_header_background_color: $vz_red;
$theme_product_card_header_background: none;
$theme_product_card_header_color: $vz_wht;

$theme_standard_card_opacity: 1.0;
$theme_standard_card_header_opacity: 1.0;
$theme_standard_card_body_opacity: 1.0;
$theme_standard_card_background_color: $f6f6f6;
$theme_standard_card_border_bottom: 1px solid #333;
$theme_standard_card_alt_background_color: $eeeeee;
$theme_standard_card_alt_border_bottom: 1px solid #666;

// PAGES
$theme_landing_accent_color: $vz_gold;
$theme_pcc_accent_color: $vz_teal;
$theme_product_desc_accent_color: $vz_salmon;
$theme_uss_accent_color: $vz_sky;

// Product Selection
.VZ_AppDropDown {

    overflow: hidden;
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    outline: none;
    position: absolute;
    padding-top: 2px;

    top: 71px;
    right: 55px;
    width: 303px;
    height: 396px;
    min-height: 196px;
    max-height: 679px;

    .WrapInner {
        width:100%;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
    }
    .AppIcons {
		float: left;
		width: 80px;
		margin: 10px;
	}
	.AppImg {
		background-color: $vz_red;
		width: 80px;
        height: 80px;
		padding-top: 10px;
	}
    .Img {
        width: 60px;
        height: 60px;
        margin: 0 auto;
		display: block;
    }
    .AppIconTxt {
		color: #000;
		height: 60px;
        overflow: hidden;
		font-size: 13px;
		padding-top: 8px;
		padding-bottom: 8px;
	}
}
